.menuMain{

  // background-color: red; 
    
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        // margin-left: 10px;
        margin-top: 30px;
         .heading{
          display: flex;
          justify-content: center;
          width: 80%;
          
         }
       
        .menu-link{
          text-decoration: none;
        }  
        
        .active{
          display: flex;
          align-items: center;
          color: #fff;
          font-weight: bold;
          background-color: rgb(2, 39, 2);
          height: 30px;
          border-radius: 10px;
          padding: 5px;
          }
    
         
        .menu-left {
          align-items: center;
          display: flex;      
          gap: 1.5rem;
          .titles{
            margin: 0px 0px;
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-weight: bold; 
            transition: font-size 0.3s ease;         
          }
          .titles:hover{
            color: rgb(166, 240, 208);
            font-size: 20px;
          }
          img {
            width: 25px;
          }
          
          
        }
      }
      

}

