.adminDashboard{
    height: 90vh;
    width: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;


    background-color: rgb(0, 183, 255);
    .header11{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 115%;
        margin: 10px 30px;
        padding-left: 40px;
        background-color: rgb(236, 234, 230);
        box-shadow: 5px 5px 5px ;
        border-radius: 10px;
        .generate{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: blue;
            margin-right: 20px;   
            height: 38px;
            // width: 15vh;
            padding: 5px;
            border-radius: 15px;
            color: #fff;
        }
    }
    .header1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 115%;
        margin: 10px 30px;
        padding-left: 40px;
        background-color: rgb(236, 234, 230);
        box-shadow: 5px 5px 5px ;
        border-radius: 10px;
        .generate{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: blue;
            margin-right: 20px;   
            height: 38px;
            width: 15vh;
            padding: 5px;
            border-radius: 20px;
            color: #fff;
        }
    }
}