.addEmployee {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  opacity: 0.7;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #555;
  font-size: 1.2em;
  cursor: pointer;
}

.form-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form {
  display: grid;
  gap: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.form-label {
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.form-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
