.sidenav{
    .emphome{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: white;
    }
    .menu{
        margin-left: 10px;
    }
}